<div id="user" style="width:100%;">

  <div class="row">
    <div class="col s12"></div>
    <div class="container-fluid" id="intro-container">
      <section id="intro-modal" class="col s6">
        <div class="modal-body">
          <div class="modalTitle">
            <p>
              <strong>User Name: <br>
                <p>
                  <h2 style="text-align: left; font-size:28px;">
                    {{example.text}}
                </p>
              </strong>
              </h2>
          </div>
          <h3 style="text-align: left; font-size: 20px;">This is our site! Welcome, broswe and see whats happening
          </h3>
          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="location input" style="font-size:20px;">Where?</label>
              <input type="text" id="user-location" class="form-control" aria-describedby="location-input"
                placeholder="90% of a Relationship Is Figuring Out Where to Eat" style="width: 460px;">
            </div>

            <button id="submit" type="submit" class="btn btn-primary float-right">Submit</button>
          </form>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title">
              <h5>User Profile</h5>
            </div>
            <div class="username col-12">
              <li data="{{Users.username}}" class="list-group-item">
                Username:<br>
                <button class="btn-large disabled" style="width:90%" placeholder="{{username}}">
                  <a href="#">{{username}}</a>
                </button>
                {{!-- {{#each Users}}
                {{/each}} --}}
              </li>
            </div>
            <div class="password col-12">
              <li data="{{Users.username}}" class="list-group-item">
                Password:<br>
                <button class="btn-large disabled" style="width:90%" placeholder="{{password}}">
                  <a href="#"></a>
                </button>
              </li> 
              </div>
            <div class="name col-12">
              <li data="{{Users.name}}" class="list-group-item">
                Name:<br>
                <button class="btn-large disabled" style="width:90%" placeholder="{{name}}">
                  <a href="#">{{name}}</a>
                </button>
              </li>  
              </div>
            <div class="gender col-12">
                 <li data="{{Users.gender}}" class="list-group-item">
                Gender:<br>
                <button class="btn-large disabled" style="width:90%" placeholder="{{gender}}">
                  <a href="#">{{gender}}</a>
                </button>
              </li>  
               </div>
            {{!-- <li data="{{Users.username}}" class="list-group-item">
              Username:<br>
              <a href="#">{{Users.username}}</a>
              <button class="btn btn-danger float-right delete">ｘ</button>

              <p>
                {{#each Users}}

            </li> --}}
            {{!-- <p>
              <p>
                <strong>Name: <br>
                  {{name}}</p>
              </strong>
              <p>
                <strong>PassWord: <br>
                  {{password}}</p>
              </strong>
              <p>
                <strong>PassWord: <br>
                  {{password}}
              </strong>
              </p>
              <strong>Location:</strong> <br> {{this.Users.location}}
            </p> --}}


          </div>
          <div class="back-to-home"> <button> <a href="/">← Back To Home</a></button></div>

        </div>

        {{!-- {{#each examples}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="example/{{this.id}}">{{this.text}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        {{/each}} --}}
      </div>
    </div>
  </div>

